body {
    font-family: Arial, sans-serif;
    margin: 0; 
    padding: 0;
    background-color: #f4f4f4;
}
img {
    margin: 0;
    width: 300px;
    height: auto;
    clip-path: circle();
}
header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
}

h1 {
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 10px auto;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #333;
}

p {
    line-height: 1.6;
}

ul {
    list-style-type: square;
}

.contact-info {
    margin-top: 20px;
}

.contact-info p {
    margin: 5px 0;
}
/* this part is how to make an inline navigation with bars in between them */
.navigation {
  list-style-type: none;
  color: white;
  text-align: center;
  padding: 0 0;
  text-decoration: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  
}

.nav {
    color:#f4f4f4;
    text-decoration: none;
    padding: 0;
}

.nav::before {
    content: "|";
    color: rgb(194, 187, 187);
    padding: 0 10px;
}
.btn {
    color: white;
    background-color: #3a3b3b;
    height: 40px;
    width: 90px;
    padding: 2px;
    border: 2px solid black;
    text-decoration: none;
}
